<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <description>Descritor do contexto de desenvolvimento.</description>
  <display-name>Meu Primeiro Servlet</display-name>
  <servlet>
  	<servlet-name>MeuPrimeiroServlet</servlet-name>
  	<servlet-class>meupacote.MeuPrimeiroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MeuPrimeiroServlet</servlet-name>
  	<url-pattern>/MeuPrimeiroServlet</url-pattern>
  </servlet-mapping>
</web-app>